.word, .language, h3 {
  font-family: 'Staatliches', cursive;
}

.language, .learn-link, .practice, .answer-total {
  text-align: center;
}

.learn-link {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 5px;
  padding-bottom: 5px;
}

ul {
  text-align: center;
  padding: 0;
}

li {
  list-style-type: none;
}

.words-card {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.answer-total {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.score, p, .learn {
  font-family: 'Montserrat', snas-serif;
}